@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-body-md {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 0px;
    line-height: undefinedpx;
  }

  .text-body-sm {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 0px;
    line-height: undefinedpx;
  }

  .text-heading-md {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 0px;
    line-height: undefinedpx;
  }

  .text-heading-xl {
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 0px;
    line-height: undefinedpx;
  }
}