@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 0px;
    line-height: 16px;
  }
}